{% extends 'MyApp/index.html'%}
{% load static%}
{% block content %}


<!-- page title -->
<section class="page-title-section overlay" data-background="{%static 'images/courses/a1.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h1 text-primary font-secondary" href="/bootcourses">BASICS OF BOOTSTRAP</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- section -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <!-- course thumb -->
        <img src="{%static 'images/courses/boot1.jpg' %}" class="img-fluid w-100">
      </div>
    </div>
    <!-- course info -->
    <div class="row align-items-center mb-5">
      <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
        <h2>BASICS OF Bootstrap</h2>
      </div>
      <div class="col-xl-9 order-sm-3 order-xl-2 col-12 order-2">
        <ul class="list-inline text-xl-center">
          <li class="list-inline-item mr-2 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <div class="text-left">
                <a href="#1" class="mb-0 h6">Containers</a>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-2 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <div class="text-left">
                <a href="#2" class="mb-0 h6">Grids</a>

              </div>
            </div>
          </li>
          <li class="list-inline-item mr-2 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <div class="text-left">
                <a href="#3" class="mb-0 h6">Alerts</a>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-2 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <div class="text-left">
                <a href="#4" class="mb-0 h6">Cards</a>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-2 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <div class="text-left">
                <a href="#5" class="mb-0 h6">Navbar</a>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-2 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <div class="text-left">
                <a href="#6" class="mb-0 h6">Carousel</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- course details -->
    <div class="row">
      <div class="col-12 mb-4">
        <h3>Bootstrap Introduction</h3>
        <p>Bootstrap is a free front-end framework for faster and easier web development
            Bootstrap includes HTML and CSS based design templates for typography, forms,
            buttons, tables, navigation, modals, image carousels and many other, as well as optional JavaScript plugins
            Bootstrap also gives you the ability to easily create responsive designs
        </p>
      </div>

      <div class="col-12 mb-4">
        <h3 class="mb-3">What is Responsive Web Design?</h3>
        <ul class="list-styled">
          <p>Responsive web design is about creating web
              sites which automatically adjust themselves to
              look good on all devices, from small phones to large desktops.
          </p>
        </ul>
        <h3 class="mb-3">Where to Get Bootstrap 4?</h3>
        <ul class="list-styled">
          <p>There are two ways to start using Bootstrap 4 on your own web site:<br>
            Include Bootstrap 4 from a CDN<br>
            Download Bootstrap 4 from getbootstrap.com<br>

          </p>
        </ul>
        <h3 class="mb-3">Why Use Bootstrap?</h3>
        <ul class="list-styled">
          <li>Easy to use: Anybody with just basic knowledge of HTML and CSS can start using Bootstrap</li>
          <li>Responsive features: Bootstrap's responsive CSS adjusts to phones, tablets, and desktops</li>
          <li>Mobile-first approach: In Bootstrap, mobile-first styles are part of the core framework</li>
          <li>Browser compatibility: Bootstrap 4 is compatible with all modern browsers (Chrome, Firefox, Internet Explorer 10+, Edge, Safari, and Opera)</li>
        </ul>
        <img class="card-img-top rounded-0" src="{%static 'images/courses/b.png' %}" alt="course thumb" >
        <img class="card-img-top rounded-0" src="{%static 'images/courses/b1.png' %}" alt="course thumb" id="1">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/b2.png' %}" alt="course thumb" >
        <img class="card-img-top rounded-0" src="{%static 'images/courses/b3.png' %}" alt="course thumb" >
        <img class="card-img-top rounded-0" src="{%static 'images/courses/b4.png' %}" alt="course thumb" id="2">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/b5.png' %}" alt="course thumb" >
        <img class="card-img-top rounded-0" src="{%static 'images/courses/b6.png' %}" alt="course thumb" >
        <img class="card-img-top rounded-0" src="{%static 'images/courses/b7.png' %}" alt="course thumb" id="3">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/b8.png' %}" alt="course thumb" >
        <img class="card-img-top rounded-0" src="{%static 'images/courses/b9.png' %}" alt="course thumb" id="4">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/b0.png' %}" alt="course thumb">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/n.png' %}" alt="course thumb" id="5">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/n1.png' %}" alt="course thumb">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/ca.png' %}" alt="course thumb" id="6">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/ca1.png' %}" alt="course thumb">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/ca2.png' %}" alt="course thumb" >
      </div>
      <!-- teacher -->
      <div class="col-12">
        <h5 class="mb-3">Teacher</h5>
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <div class="media mb-2 mb-sm-0">
            <i class="ti-user text-primary icon-md mr-2"></i>
            <div class="media-body">
              <h4 class="mt-0">ADMIN</h4>

            </div>
          </div>
        </div>
        <div class="border-bottom border-primary mt-4"></div>
      </div>
    </div>
  </div>
</section>
<!-- /section -->

<!-- related course -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Related Course</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{%static 'images/courses/djan.jpg' %}" alt="course thumb">
          <div class="card-body">
            <a href="/djancourse">
              <h4 class="card-title">Django</h4>
            </a>
            <p class="card-text mb-4" style="text-align:justify;"> Django is a high-level Python Web framework that encourages
          rapid development and clean, pragmatic design.
          Built by experienced developers.
            </p>
            <a href="/djancourse" class="btn btn-primary btn-sm">Learn More</a>
          </div>
        </div>
      </div>
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{%static 'images/courses/jss.jpg' %}" alt="course thumb">
          <div class="card-body">
            <a href="/jscourse">
              <h4 class="card-title">JAVA-SCRIPT</h4>
            </a>
            <p class="card-text mb-4"> JavaScript is the programming language of HTML.
              JavaScript is easy to learn.
              This tutorial will teach you  basics of JavaScript.</p>
            <a href="/jscourse" class="btn btn-primary btn-sm">Learn More</a>
          </div>
        </div>
      </div>
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{%static 'images/courses/pyt.png' %}" alt="course thumb">
          <div class="card-body">
            <a href="/pycourse">
              <h4 class="card-title">PYTHON</h4>
            </a>
            <p class="card-text mb-4"> Python is a popular programming language. It was created by Guido van Rossum,
              and released in 1991. It is used for:
              web development (server-side).
            </p>
            <a href="/pycourse" class="btn btn-primary btn-sm">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /related course -->



{% endblock %}
