{% extends 'MyApp/index.html'%}
{% load static%}
{% block content %}


<!-- page title -->
<section class="page-title-section overlay" data-background="{%static 'images/courses/a1.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/jscourse">BASICS OF JAVA-SCRIPT</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- section -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <!-- course thumb -->
        <img src="{%static 'images/courses/jsss.jpg' %}" class="img-fluid w-100">
      </div>
    </div>
    <!-- course info -->
    <div class="row align-items-center mb-5">
      <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
        <h2>BASICS OF JAVA-SCRIPT</h2>
      </div>
      <div class="col-xl-9 order-sm-3 order-xl-2 col-12 order-2">
        <ul class="list-inline text-xl-center">
          <li class="list-inline-item mr-2 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <div class="text-left">
                <a href="#1" class="mb-0 h6">JS-Variables</a>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-2 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <div class="text-left">
                <a href="#2" class="mb-0 h6">JS-Operators</a>

              </div>
            </div>
          </li>
          <li class="list-inline-item mr-2 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <div class="text-left">
                <a href="#3" class="mb-0 h6">JS-Expressions</a>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-2 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <div class="text-left">
                <a href="#4" class="mb-0 h6">JS-Keywords</a>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-2 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <div class="text-left">
                <a href="#5" class="mb-0 h6">JS-Comments</a>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-2 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <div class="text-left">
                <a href="#6" class="mb-0 h6">JS-Identifiers</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- course details -->
    <div class="row">
      <div class="col-12 mb-4">
        <h3>JAVA-Script Introduction</h3>
        <p>JavaScript is the programming language of HTML and the Web.
            JavaScript is easy to learn.
            This tutorial will teach you JavaScript from basic to advanced.
        </p>
      </div>

      <div class="col-12 mb-4">
        <h3 class="mb-3">Why Study JavaScript?</h3>
        <ul class="list-styled">
          <p>JavaScript is one of the 3 languages all web developers must learn:<br>
              1. HTML to define the content of web pages<br>
              2. CSS to specify the layout of web pages<br>
              3. JavaScript to program the behavior of web pages<br>
              Web pages are not the only place where JavaScript is used. Many desktop and server programs use JavaScript.
              Node.js is the best known. Some databases, like MongoDB and CouchDB, also use JavaScript as their programming language.
          </p>
        </ul>
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js.png' %}" alt="course thumb" >
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js1.png' %}" alt="course thumb" >
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js2.png' %}" alt="course thumb" >
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js3.png' %}" alt="course thumb">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js4.png' %}" alt="course thumb" id="1">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js5.png' %}" alt="course thumb" id="2">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js6.png' %}" alt="course thumb" id="3">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js7.png' %}" alt="course thumb" id="4">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js8.png' %}" alt="course thumb" id="5">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js9.png' %}" alt="course thumb" id="6">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js0.png' %}" alt="course thumb" id="7">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js00.png' %}" alt="course thumb" id="8">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js000.png' %}" alt="course thumb" id="9">
        <img class="card-img-top rounded-0" src="{%static 'images/courses/js0000.png' %}" alt="course thumb" id="0">
      </div>
      <!-- teacher -->
      <div class="col-12">
        <h5 class="mb-3">Teacher</h5>
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <div class="media mb-2 mb-sm-0">
            <i class="ti-user text-primary icon-md mr-2"></i>
            <div class="media-body">
              <h4 class="mt-0">ADMIN</h4>

            </div>
          </div>
        </div>
        <div class="border-bottom border-primary mt-4"></div>
      </div>
    </div>
  </div>
</section>
<!-- /section -->

<!-- related course -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Related Course</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{%static 'images/courses/djan.jpg' %}" alt="course thumb">
          <div class="card-body">
            <a href="/djancourse">
              <h4 class="card-title">Django</h4>
            </a>
            <p class="card-text mb-4" style="text-align:justify;"> Django is a high-level Python Web framework that encourages
          rapid development and clean, pragmatic design.
          Built by experienced developers.
            </p>
            <a href="/djancourse" class="btn btn-primary btn-sm">Learn More</a>
          </div>
        </div>
      </div>
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{%static 'images/courses/pyt.png' %}" alt="course thumb">
          <div class="card-body">
            <a href="/pycourse">
              <h4 class="card-title">PYTHON</h4>
            </a>
            <p class="card-text mb-4"> Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.
          It is used for:
          web development (server-side).</p>
            <a href="/pycourse" class="btn btn-primary btn-sm">Learn More</a>
          </div>
        </div>
      </div>
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{%static 'images/courses/boot.jpg' %}" alt="course thumb">
          <div class="card-body">
            <a href="/bootcourse">
              <h4 class="card-title">BOOTSTRAP</h4>
            </a>
            <p class="card-text mb-4"> Bootstrap is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first websites.
            </p>
            <a href="/bootcourse" class="btn btn-primary btn-sm">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /related course -->



{% endblock %}
