{% extends 'MyApp/index.html'%}
{% load static%}
{% block content %}

<section class="page-title-section " data-background="{%static 'images/courses/a1.jpg' %}">

</section>


<div class="col-12 my-5">
   <h2>Forget Password</h2>
    <form method="post" class="row">
      {% csrf_token %}
      <div class="col-sm-5">
        <input type="email" class="form-control mb-4" id="name" name="email" placeholder=" Email " required/>
      </div>
      <div class="col-12">
        <button type="submit" value="send" class="btn btn-primary">Request Reset Password</button>
      </div>
    </form>
</div>

{% endblock %}


